html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #F0F7F4;
}
header {
    padding: 15px 30px;
    background-color: #70abaf;
    color: #32292f;
}
header > span {
    font-size: 20px;
    font-weight: 500;
}
header div {
    float: right;
}
header div a {
    margin-left: 20px;
    color: black;
}
div.body {
    padding: 30px;
    text-indent: 100px; 
    margin-left: 55px; 
    margin-right: 55px;
    font-family: Arial;
    font-size: 20px;
}
h1 {
    text-align: center; 
    font-size: 50px; 
    font-family: Arial;
    color: #705d56;
}
table, th, td, tr {
    border: 3px solid black;
    margin-top: 100px;
    margin-left: 50px ;
    margin-right: 50px ;
    text-align: center;
    font-family: Verdana;
    border-collapse: collapse;
  }